.auto-padding {
	margin		: 50px auto 0;
	padding		: 50px;
}
.primer-ingreso__titulo,
.pi-artistas-recomendados__titulo {
	margin-top	: 0px;
}

.pi-artistas-recomendados {
	margin	: 50px auto;
	//background	: hsl(337, 5%, 90%);
}
.pi-artistas-recomendados__titulo {
	text-transform	: uppercase;
	color			: hsl(337, 10%, 30%);
	margin-bottom 	: 0;
}

.pi-ar-buscar-artista {}
.pi-ar-buscar-artista__input {
	width		: 100%;
	padding		: 10px;
	font-size	: 24px;
	border		: 0;
}

.pi-ar-lista-artistas {}
.pi-ar-la__lista {
	padding: 15px;
}
.pi-ar-la__inner-lista {}
.pi-ar-la__avatar-artista {
	width		: 100%;
	padding-top	: 100%;
	position	: relative;
	background	: hsl(0,0%,40%);
}
.pi-ar-la__inner-avatar {
	position 	: absolute;
	top			: 0;
	bottom		: 0;
	left		: 0;
	right		: 0;
}
.pi-ar-la__imagen-avatar {
	width		: 100%;
}
.pi-ar-la__nombre-artista {
	padding			: 15px;
	height			: 47px;
	text-transform	: uppercase;
	font-size		: 14px;
	text-overflow	: ellipsis;
	white-space		: nowrap;
	overflow		: hidden;
}
.pi-ar-la__seguir-artista {
	display			: block;
	padding			: 10px;
	text-decoration	: none;
	text-align		: center;
	text-transform	: uppercase;
	background		: hsl(60, 77%, 51%);
	font-weight		: 700;
}



.footer {
	padding-top	: 100px;
}